# Tasks

## Task 1: Source the Data Set

This task imports the Iris data set from sklearn.datasets module and explains what the load_iris() function returns.

Import from 'skleadn.datasets' (https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html) & (https://scikit-learn.org/stable/datasets.html)

In [5]:
# Import sklearn.
import sklearn as skl

In [6]:
# Import Iris Dataset from sklearn.
from sklearn.datasets import load_iris

In [7]:
# Load Iris Dataset.
iris = load_iris()

# Have a look.
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 150 (50 in each of three classes)\n:Number of Attributes: 4 numeric, predictive attributes and the class\n:Attribute Information:\n    - sepal length in cm\n    - sepal width in cm\n    - petal length in cm\n    - petal width in cm\n    - class:\n            - Iris-Setosa\n            - Iris-Versicolour\n            - Iris-Virginica\n\n:Summary Statistics:\n\n============== ==== ==== ======= ===== ====================\n                Min  Max   Mean    SD   Class Correlation\n============== ==== ==== ======= ===== ====================\nsepal length:   4.3  7.9   5.84   0.83    0.7826\nsepal width:    2.0  4.4   3.05   0.43   -0.4194\npetal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\npetal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n============== ==== ==== ======= ===== ====================\n\n:Missing Attribute Values: None\n:Class Distribution: 33.3% for each of 3 classes.\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. dropdown:: References\n\n  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n    Mathematical Statistics" (John Wiley, NY, 1950).\n  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n    Structure and Classification Rule for Recognition in Partially Exposed\n    Environments".  IEEE Transactions on Pattern Analysis and Machine\n    Intelligence, Vol. PAMI-2, No. 1, 67-71.\n  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n    on Information Theory, May 1972, 431-433.\n  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n    conceptual clustering system finds 3 classes in the data.\n  - Many, many more ...\n',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

### Explaining what the above load_iris() function returned.
When imported from sklean.datasets, the load iris() returns a Bunch Object (https://scikit-learn.org/stable/datasets.html). 
This dataset contains 150 rowns and 4 collumns having a ndarray shape (https://numpy.org/doc/2.2/reference/generated/numpy.ndarray.shape.html).

The Iris Dataset represents Iris Plants:
    - There are 150 iris plants divided equaly into 3 species ("target_names") - Setosa, represented by 0; Versicolor, represented by 1; Virginica, represented by 2.
    - Each row represents an iris plant having a total of 4 measurement characteristics (attributes) - Sepal Lenght; Sepal Width; Pelal Lenght; Petal Width - all represented in cm.
    - A summary of statistics was also returned outlining the minimum, maximum, santatrd deviation and class correlation for each attribute.
    - It indicated that one class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.

It´s representation also show that the Iris dataset was provided in CSV format, which is also indicated in the filename  'filename': 'iris.csv'; and is part of of sklearn.datasets.data.
Furthermore it also returns information regarding creator, references and description.

## Task 2: Explore the Data Structure

This task prints and explains the shape of the data set, the first and last 5 rows of the data, the feature names, and the target classes.

For this task I decided to represent the dataset in a table for easier visualisation by using Pandas library. Information found in 'Geeksforgeeks' (https://www.geeksforgeeks.org/how-to-convert-sklearn-dataset-to-pandas-dataframe-in-python/)

In [8]:
# Import pandas, sklearn and numpy. 

# Import pandas library.
import pandas as pd

# Import sklearn.
import sklearn as skl

In [9]:
# Import Iris Dataset.
from sklearn.datasets import load_iris

# Load Iris Dataset.
iris = load_iris()

In [10]:
# Creates Dataframe
df = pd.DataFrame(iris.data, columns=('sepal len cm','sepal wid cm','petal len cm','petal wid cm'))

# Add extra collums to include iris type and it´s numerical representation
df = df.assign(
    ntype = iris.target,
    iris_type = lambda x: x['ntype'].map({0: 'setosa', 1: 'versicolor', 2: 'virginica'})
)

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html 
# https://labex.io/tutorials/python-pandas-dataframe-assign-method-68586
# https://stackoverflow.com/questions/24216425/adding-a-new-pandas-column-with-mapped-value-from-a-dictionary

In [11]:
# Shape of dataset. 

# Defining and print shape of dataset 
shape = (df.shape)
print(shape)

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html
# https://www.w3schools.com/python/pandas/ref_df_shape.asp

(150, 6)

### Explaining the shape of dataset.
The code above returns the shape of data in a a tuple of array dimensions, indicating the number of rows and columns of the Iris Dataframe. In this case, this dataset contains 150 rows and 6 columns.

Note: The original dataset contains 150 rows and 4 colums, however when the dataframe was created another two colums were added to represent the iris type and it´s numerical representation as these were returned as attributes.

In [12]:
# Print first 5 rows of the data.
print(df.head())

# By using Pandas Dataframe head() Method, the first 5 rows of the dataframe are displayed. in this case indicating the measurements in centimetres of the sepal lenght, sepal width, petal lenght and petal width for each type of iris plant.
# https://www.w3schools.com/python/pandas/ref_df_head.asp

   sepal len cm  sepal wid cm  petal len cm  petal wid cm  ntype iris_type
0           5.1           3.5           1.4           0.2      0    setosa
1           4.9           3.0           1.4           0.2      0    setosa
2           4.7           3.2           1.3           0.2      0    setosa
3           4.6           3.1           1.5           0.2      0    setosa
4           5.0           3.6           1.4           0.2      0    setosa

In [13]:
# Print last 5 rows of the dataset.
print(df.tail())

# # By using Pandas Dataframe tail() Method, the last 5 rows of the dataframe, in this case indicating the measurements in centimetres of the sepal lenght, sepal width, petal lenght and petal width for each type of iris plant.
# https://www.w3schools.com/python/pandas/ref_df_tail.asp

     sepal len cm  sepal wid cm  petal len cm  petal wid cm  ntype  iris_type
145           6.7           3.0           5.2           2.3      2  virginica
146           6.3           2.5           5.0           1.9      2  virginica
147           6.5           3.0           5.2           2.0      2  virginica
148           6.2           3.4           5.4           2.3      2  virginica
149           5.9           3.0           5.1           1.8      2  virginica

In [14]:
# Print Feature Names
print(iris.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [15]:
# Print Target Classes
print(iris.target_names)

['setosa' 'versicolor' 'virginica']

## Task 3: Summarize the Data

This tasks calculates and displays the mean; minimium; maximum; standard deviation; and median for each feature in the dataset.

In [20]:
# Data frames.
import pandas as pd

# Machine Learning library that contains example datasets.
import sklearn as skl

In [21]:
# Import Iris Dataset.
from sklearn.datasets import load_iris

# Load Iris Dataset.
df = load_iris()

In [18]:
# Creates Dataframe
iris_df = pd.DataFrame(df.data, columns=("Sepal Lenght", "Sepal Width", "Pelal Lenght", "Petal Width"))

In [19]:
# Describe Dataset
iris_df.describe()

       Sepal Lenght  Sepal Width  Pelal Lenght  Petal Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Task 4: Visualize Features

Plot histograms for each feature using matplotlib.
Add appropriate titles and axis labels.

## Task 5: Investigate Relationship

Choose any two features from the data set and create a scatter plot of them.
Color-code the three different classes of the scatter plot points.

## Task 6: Analyze Relationship

This task uses numpy.polyfit to add a regression line to the scatter plot from Task 5.

## Task 7: Analyze Class Distributions

This task creates blox-plots of the petal lenghts for each of three classes.

## Task 8: Compute Correlations

Calculate the correlation coefficients between the features.
Display the results as a heatmap using matplotlib.

## Task 9: Fit a Simple Linear Regression

For your two features in Task 5, calculate the coefficient of determination R2.
Re-create the plot from Task 6 and annotate it with the R2 value.

## Task 10: Too Many Features

Use seaborn to create a pairplot of the data set.
Explain, in your own words, what the pairplot depicts.

## End